body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(185, 75%, 39%);
  height: 100%;
}

p {
  margin: 4px;
  padding: 0;
  border: 0;

}

.no {
  font-weight: 700;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

.des {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 3px;
  color: hsl(0, 0%, 59%);
}

.des1 {
  font-weight: 400;
  font-size: 18px;
  color: hsl(0, 0%, 59%);
}
.flex-container {
  display: flex;
  height: 700px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.bg-top {
  transform: rotateX(180deg) rotate(90deg);
  position: absolute;
  left: -220px;
  top: -500px;
}

.bg-bot {
  position: absolute;
  transform: rotate(-150deg);
  right: -300px;
  bottom: -500px;
  overflow: hidden;
}

.flex {
  display: flex;
  height: 100px;
  width: 350px;
  flex-wrap: wrap;
}

.bg {
  height: 125px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url(../images/bg-pattern-card.svg);
  position: absolute;
  top: 170px;
}

.pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  margin-bottom: 110px;
  background-image: url(../images/image-victor.jpg);
  background-size: cover;
}

.profile {
  display: flex;
  height: 150px;
  background-color: white;
  position: absolute;
  top: 295px;
  justify-content: center;
  align-items: center;
}


.stat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  position: absolute;
  top: 445px;
  border-top: 0.1px solid hsl(227, 10%, 46%);
}

.fol {
  align-content: center;
}

.pro {
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.attribution {
  height: 300px;
  width: 100%;
  position: absolute;
}
